#main-header nav a,
p a{
  display: inline-block;      
  background-color: #B22222;  
  color: white;               
  padding: 5px 10px;                    
  text-decoration: none;      
  border-radius: 5px;         
  transition: 0.4s;
}

#main-header nav a:hover, p a:hover {
  background-color: #8B0000;   
}
.smth{ 
	margin:0; 
	background-image:url('uiiu.jpeg'); 
	background-size: cover; 
	background-position: center; 
	color: white; 
	padding: 0; 
	background-color: rgba(0, 0, 0, 0.8); 
	background-repeat: no-repeat; 
	background-blend-mode: overlay; 
}
.smth h2,
.smth p,
.smth li {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}
.lolol {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
.lolol thead th {
  background: linear-gradient(
    90deg,
	#5c0000,
    #8B0000,
    #FF1F5A 
	);
}
.lolol th {
padding: 16px 20px;
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  text-shadow:
    0 0 6px rgba(255, 0, 60, 0.8),
    0 0 12px rgba(255, 60, 100, 0.5);
}
.lolol table{
  width: 640px;
  border-collapse :collapse;
  box-shadow: 
	0 10px 30px rgba(0, 0, 0, 0.6),
    0 0 25px rgba(255, 30, 70, 0.15);
  border-radius: 14px;
  overflow: hidden;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: rgba(20, 0, 0, 0.85);
  backdrop-filter: blur(6px);
}
.lolol th, .lolol td{
  padding: 12px 20px;
}

.lolol tbody tr:nth-child(even) td {
  background-color: rgba (180, 68, 68, 0.6);
}
.lolol tr:hover td {
background-color:rgba (255, 40, 80, 0.35);
box-shadow: inset 0 0 12px rgba(255, 80, 120, 0.35);
}
.lolol thead tr {
  border-bottom: 2px solid rgba(255, 60, 60, 0.6);
}
.lolol tr td{
	background-color:#CD5C5C;
	1px solid rgba(255,255,255,0.1);
}

h1 {
  margin: 0 auto;
  width: fit-content;
}



























































