#main-header nav a,
p a{
  display: inline-block;      
  background-color: #B22222;  
  color: white;               
  padding: 5px 10px;                    
  text-decoration: none;      
  border-radius: 5px;         
  transition: 0.4s;           
}

#main-header nav a:hover, p a:hover {
  background-color: #8B0000;   
}
body{
	margin: 0;
	 min-height: 100vh;
  background: 
    rgba(0,0,0,0.8) 
    url('uiiu.jpeg') 
    center / cover 
    no-repeat;
}
.smth h2,
.smth p,
.smth li {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}
.lolol {
	display: flex;
	justify-content: center;
}
.lolol thead {
  background: linear-gradient(
    90deg,
    #8B0000
    #FF1F5A, 
    #DC143C,
    #FF0000
	);
}
.lolol th {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  text-shadow:
    0 0 6px rgba(255, 0, 60, 0.8),
    0 0 12px rgba(255, 0, 60, 0.6);
}
.lolol table{
  width: 600px;
  border-collapse :collapse;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  border-radius: 10px;
  overflow: hidden;
  background-color: #8B0000;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lolol th, .lolol td{
  padding: 12px 20px;
}

.lolol tr:nth-child(even) td {
  background-color: #CD5C5C;
}
.lolol tr:hover td {
background-color:#5c0000;
box-shadow: inset 0 0 10px rgba(255, 60, 60, 0.3);
}
.lolol thead tr {
  border-bottom: 2px solid rgba(255, 60, 60, 0.6);
}
.lolol tr td{
	background-color:#CD5C5C;
	border-bottom: 1px solid #000;
}














































