#main-header nav a {
  display: inline-block;      
  background-color: #B22222;  
  color: white;               
  padding: 5px 10px;          
  margin-right: 5px;          
  text-decoration: none;      
  border-radius: 5px;         
  transition: 0.4s;           
}

#main-header nav a:hover {
  background-color: #8B0000;   
}

p a {
  display: inline-block;      
  background-color: #B22222;  
  color: white;               
  padding: 5px 10px;         
  text-decoration: none;       
  border-radius: 5px;          
  transition: 0.3s;            
}
p a:hover {
  background-color: #8B0000;   
}
main article p{
	font-size:16px;
	background-image
}
.smth{
	background-image:url('uiiu.jpeg');
	background-size: cover;
	background-position: center;
	width:1280px;
	height:435px;
	color: white;
	padding: 20px;
	background-color: rgba(0, 0, 0.2, 0.8); 
  background-blend-mode: overlay; 
	opacity: 0.7
.smth h2,
.smth p,
.smth li {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}
.lolol table{
  width: 600px;
  border-collapse :collapse;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  border-radius: 10px;
  overflow: hidden;
  background-color: #8b0000ce;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lolol th, .lolol td{
  padding: 12px 20px;
}
.lolol th, .lolol td{
 background-color: 5a0000;
 font-size: 1.1rem;
}



























